/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GTWalsheim";
  src: local('GTWalsheim'), local('GT Walsheim Regular'), local('GT-Walsheim-Regular'), url(../fonts/GT-Walsheim-Regular.ttf) format('truetype'),
    url(../fonts/GT-Walsheim-Regular.woff) format('woff');
  font-display: swap;
}

.logoshape {
  height: 120px;
}

.logoblock {
  vertical-align: top;
}

.logotextblock {
  font-weight: 600;
  font-size: 28px;
  padding: 0 10px 10px 10px;
  vertical-align: bottom;
  text-align: left;
  line-height: 1;
}

.navmenu {
  font-weight: 400;
  font-size: 18px;
  padding: 54px 10px 10px 10px;
  vertical-align: bottom;
  text-align: left;
  line-height: 1;
}

.navflexgrow {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.footer {
  background-color: #292929;
  color: white;
}