{{ $button := .Get "button" }}
{{ $heading := .Get "heading" }}
{{ $link := .Get "link" }}
{{ $imageUrl := .Get "image" }}
{{ $height := .Get "height" }}

{{ $image := resources.GetMatch $imageUrl }}
{{ with $image.Resize (printf "x%d webp photo" $height) }}
<div class="bg-local bg-auto bg-no-repeat bg-center h-{{$height}}-px" style="background-image: url({{ .RelPermalink }})">
{{ end }}
  <div class="flex h-full w-full hover:bg-core-secondary hover:bg-opacity-25">
    <div class="m-auto invisible sm:visible">
      <div class="flex flex-col pt-6 space-y-4 md:p-8 ">
        <div class="grow h-24">
        </div>
        <div class="grow ">
        </div>
        <div>
          <a href="{{$link}}"><button class="font-bold bg-[#812926] py-3 px-8 mt-4 rounded text-xl hover:bg-opacity-75 float-right text-[#ffffff]">{{ $button }}</button></a>
        </div>
        <p class="flex-auto text-5xl space-y-4 float-left bg-slate-600/40 text-[#ffffff]">{{ $heading }}</p>
      </div>
    </div>
  </div>
</div>