{{ $coll := .Get "collection" }}
{{ $height := .Get "height" }}
{{ $headless := .Site.GetPage (print "/iha/" $coll)}}
{{ $reusablePages := $headless.Pages }}

<div class="flex flex-wrap md:flex-nowrap place-content-evenly">
  {{ range $reusablePages }}
  {{ $page := . }}
  {{ $image := resources.GetMatch .Params.image }}
  {{ with $image.Resize (printf "%dx%d webp icon" $height $height) }}
  <div class=" shrink md:shrink-0"><img alt="{{ $page.Title }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"></div>
  {{ end }}
  {{ end }}
</div>