{{ $link := .Get "link" }}
{{ $height := .Get "height" }}


<iframe id="iframe-container" src="{{ $link }}" width="100%" height="{{ $height }}px" frameborder="0"></iframe>
<script>
    window.addEventListener('message', function (e) {
        if (e.origin !== "https://events.humanitix.com") {
            return;
        }
        var messageData = e.data;
        var iframeEl = document.getElementById('iframe-container');
        if (iframeEl && messageData && !isNaN(messageData.scrollHeight)){
            iframeEl.style.height = messageData.scrollHeight + 'px';
        }
    }, false);
</script>
