{{ $userid := .Get "userid" }}
{{ $height := .Get "height" }}

<iframe id="iframe-container" src="https://humanitix.com/au/search?w=true&userid={{ $userid }}" width="100%" height="{{ $height }}px" frameborder="0"></iframe>
<script>
    window.addEventListener('message', function (e) {
        if (e.origin !== https://events.humanitix.com) {
            return;
        }
        var messageData = e.data;
        var iframeEl = document.getElementById('iframe-container');
        if (iframeEl && messageData && !isNaN(messageData.scrollHeight)){
            iframeEl.style.height = messageData.scrollHeight + 'px';
        }
    }, false);
</script>