<div class="{{ .Site.Params.base_color }} body-font font-sans">
    <div class="container max-w-screen-xl mr-auto ml-auto">
        <nav class="flex items-center justify-between flex-wrap {{ .Site.Params.base_color }} p-6">
            <div class="flex items-center flex-no-shrink {{ .Site.Params.base_color }} text-gray-800 mr-6">
                <a href="{{ .Site.BaseURL }}">
                    <div>
                        <div class="logoblock block sm:inline-block">
                            <img class="logoshape" alt="Logo" data-src="/img/logo-main.svg" src="{{ .Site.Params.logoUrl }}">
                        </div>
                    </div>
                </a>
            </div>
            <div class="flex md:hidden">
                {{ if false }}
                <div class="py-2">
                    <button onclick="toggleDarkMode()" class="focus:outline-none mr-1" aria-label="Darkmode Toggle Button">
                        <i id="icon" class="icon-moon inline-flex align-middle leading-normal text-lg text-gray-800"></i>
                    </button>
                    <span class="text-gray-800">|</span>
                </div>
                {{ end }}
                <button id="hamburgerbtn" class="flex items-center px-3 py-1 text-gray-800 hover:opacity-50" aria-label="Hamburger Button">
                    <span class="icon-menu text-2xl"></span>
                </button>
            </div>
            <div class="navflexgrow flex-col hidden w-full md:flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="text-sm lg:flex-grow block sm:inline-block">
                </div>
                <div class="navmenu mt-auto">
                    {{ with .Site.GetPage "/" }}
                    {{ range .Pages }}
                    <a href="{{ .RelPermalink }}"
                        class="no-underline duration-200 block sm:inline-block sm:mt-0 text-gray-800 hover:opacity-50 mr-4">
                        {{ .Name }}
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
                {{ if false }}
                <div class="text-gray-800 invisible md:visible">
                    <span>|</span>
                    <button onclick="toggleDarkMode()" class="focus-visible:outline-none" aria-label="Darkmode Toggle Button">
                        <i id="icon2" class="icon-moon hover:opacity-50 duration-200 inline-flex align-middle leading-normal text-lg ml-2"></i>
                    </button>
                </div>
                {{ end }}
            </div>
        </nav>
    </div>
</div>
<style>
    .active {
        display: block;
    }
</style>

<script>
    let hamburger = document.getElementById('hamburgerbtn');

    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
</script>